<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiphivon</title>
    <%-include('../views/headercss') %>
</head>

<body>
    <%- include( '../views/navbar')%>
        <div class="container">
            <h1>MANDAY KỸ SƯ</h1>
            <!-- <a href="/add-mandaykysu" class="btn btn-primary pull-right">Thêm Manday kỹ sư</a> -->
            <form action="/add-mandaykysu" method="get">
                <input class="btn btn-primary btn-sm pull-right" type="submit" value="Thêm Manday kỹ sư">
                <table id="customers">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Phòng ban</th>
                            <th>Manday chuẩn</th>
                            <th>Số người tham gia dự án</th>
                            <th>Số ngày thực hiện dự án</th>
                            <th>Thành tiền</th>
                            <th>Ghi chú</th>
                            <th>Action </th>
                        </tr>
                    </thead>
                    <td>1</td>
                    <td>Phòng GP HT - Mạng</td>
                    <td>60</td>
                    <td>2</td>
                    <td>5</td>
                    <td>13.440.000</td>
                    <td>Ghi chú</td>
                    <td>
                        <input class="btn btn-primary btn-sm" type="button" value="Update" onclick="handleUpdateProduct('')">
                        <input class="btn btn-primary btn-sm" type="button" value="Delete" onclick="handleUpdateProduct('')">
                    </td>
                    </tr>

                </table>
            </form>
            <script>
                function handleUpdateProduct(value) {
                    $(location).attr('href', '/update-product/' + value);
                }
            </script>
        </div>
</body>

</html