<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pthd-tongthe</title>
    <%-include('../views/headercss') %>
</head>

<body>
    <%- include( '../views/navbar')%>
        <div class="container">
            <h1>BẢNG PHÂN TÍCH HIỆU QUẢ HỢP ĐỒNG/DỰ ÁN</h1>
            <table id="customers">
                <tr>
                    <th rowspan="2">STT</th>
                    <th rowspan="2" width="15%">Tên hàng</th>
                    <th rowspan="2" width="5%">Số lượng </th>
                    <th colspan="3 ">Giá vốn hàng bán (Giá kho)</th>
                    <th colspan="2 ">Doanh số (Giá bán)</th>
                    <th rowspan="2 " width="15%">Ghi chú </th>
                </tr>
                <tr>
                    <th>Đơn giá FOB <br> (EX-W) - (VNĐ)</th>
                    <th>Đơn giá kho <br>(VNĐ)</th>
                    <th>Đơn giá bán <br> (VNĐ)</th>
                    <th>Thành tiền <br>(VNĐ)</th>
                    <th>Doanh số <br>(Giá bán)</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>NB X60 IBM</td>
                    <td> 10 </td>
                    <td></td>
                    <td>50.200.000</td>
                    <td>502.000.000</td>
                    <td>65.000.000</td>
                    <td>650.000.000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>UPS APC</td>
                    <td> 2 </td>
                    <td></td>
                    <td>1.200.000</td>
                    <td>2.400.000</td>
                    <td>1.800.000</td>
                    <td>3.600.000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Domain Controller</td>
                    <td> 1 </td>
                    <td></td>
                    <td>11.100.000</td>
                    <td>11.100.000</td>
                    <td>15.000.000</td>
                    <td>15.000.000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>ISA Server</td>
                    <td> 1 </td>
                    <td></td>
                    <td>22.200.000</td>
                    <td>22.200.000</td>
                    <td>40.000.000</td>
                    <td>40.000.000</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="5 ">TỔNG CỘNG</td>
                    <td>537.700.000</td>
                    <td></td>
                    <td>708.600.000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td colspan="4">Chi phí phát sinh khi thực hiện Dự Án </td>
                    <td></td>
                    <td></td>
                    <td>Cần tính</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1.1</td>
                    <td colspan="4">Chi phí triển khai hợp đồng </td>
                    <td></td>
                    <td></td>
                    <td>Cần tính</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Chi phí bảo hành (trích cho TT HSC) </td>
                    <td></td>
                    <td></td>
                    <td>Cần tính</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Chi phí triển khai (công tác phí, phí KS,…)</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>Nếu chi phí triển khai phức tạp thì lấy số tổng bên sheet :"Chi tiet CP trien khai"</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Chi phí tiếp khách </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Chi phí vận chuyển </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1.2</td>
                    <td colspan="4">Chi phí vốn </td>
                    <td></td>
                    <td></td>
                    <td>Cần tính 6.771.625</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Số ngày hàng tồn kho </td>
                    <td></td>
                    <td></td>
                    <td>30</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Số ngày triển khai </td>
                    <td></td>
                    <td></td>
                    <td>20</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Số ngày công nợ nhà cung cấp </td>
                    <td></td>
                    <td></td>
                    <td>20</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Số ngày thu nợ </td>
                    <td></td>
                    <td></td>
                    <td>15</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Khách hàng trả trước (đặt cọc) </td>
                    <td></td>
                    <td></td>
                    <td>212.580.000</td>
                    <td>Số tiền KH cọc theo hợp đồng bán hàng</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4"> + Đặt cọc cho NTP</td>
                    <td></td>
                    <td></td>
                    <td>53.770.000</td>
                    <td>Số tiền cọc cho NTP theo HĐ mua hàng</td>
                </tr>

            </table>
        </div>
        <!-- <a href="/add-chiphikhac " class="btn btn-success float-right ">Thêm chi phí khác</a> -->
        <script>
            function handleUpdateProduct(value) {
                $(location).attr('href', '/update-product/' + value);
            }
        </script>
</body>

</html>