<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chiphivon</title>
    <%-include('../views/headercss') %>
</head>

<body>
    <%- include( '../views/navbar')%>
        <div class="container">
            <h1>THÊM MANDAY KỸ SƯ</h1>
            <!-- <a href="/add-mandaykysu" class="btn btn-primary pull-right">Thêm Manday kỹ sư</a> -->
            <form action="/mandaykysu" method="get">

                <table id="customers">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Phòng ban</th>
                            <th>Manday chuẩn</th>
                            <th>Số người tham gia dự án</th>
                            <th>Số ngày thực hiện dự án</th>
                            <th>Thành tiền</th>
                            <th>Ghi chú</th>

                        </tr>
                    </thead>
                    <tr>
                        <td><input class="form-control" type="text" name='stt' placeholder="STT"></td>
                        <td><input class="form-control" type="text" name='phongban' placeholder="Nhập phòng ban"></td>
                        <td><input class="form-control" type="text" name='mandaychuan' placeholder="Nhập Manday chuẩn "></td>
                        <td><input class="form-control" type="text" name='songuoi' placeholder="Nhập Số người"></td>
                        <td><input class="form-control" type="text" name='songay' placeholder="Nhập số ngày"></td>
                        <td><input class="form-control" type="text" name='thanhtien' placeholder="Không nhập"></td>
                        <td><input class="form-control" type="text" name='ghichu' placeholder="Nhập Ghi chú "></td>

                    </tr>
                </table>
                <br>
                <input class="btn btn-primary btn-sm pull-right" type="submit" value="Save">
            </form>
            <script>
                function handleUpdateProduct(value) {
                    $(location).attr('href', '/update-product/' + value);
                }
            </script>
        </div>
</body>

</html