<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addchiphitrienkhai</title>
    <%-include('../views/headercss') %>
        <link rel="stylesheet" href="css/styles-table-sidebyside.css">
</head>

<body>
    <%- include( '../views/navbar')%>
        <div class="container">

            <h1>THÊM DỰ TRÙ CHI PHÍ TRIỂN KHAI</h1>
            <form action="/chiphitrienkhai" method="get">

                <div class="row">
                    <div class="column">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Nội dung dự trù</label>
                                        <input class="form-control" type="text" name='noidungdutru' placeholder="Nhập nội dung dự trù">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Đơn vị </label>
                                        <input class="form-control" type="text" name='donvi' placeholder="Nhập đơn vị">
                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Đơn giá </label>
                                        <input class="form-control" type="text" name='dongia' placeholder="Nhập đơn giá">
                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Ngày / lượt </label>
                                        <input class="form-control" type="text" name='ngay-luot' placeholder="Nhập ngày lượt">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Người </label>
                                        <input class="form-control" type="text" name='nguoi' placeholder="Nhập Người">
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="column">
                        <table>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Thành tiền</label>
                                        <input class="form-control" type="text" id="Email" name="thanhtien" placeholder="Nhập thành tiền">
                                    </div>
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>??????? </label>
                                        <input class="form-control" type="text" id="Email" name="cantinhtoan" placeholder="Q&A">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Ghi chú </label>
                                        <input class="form-control" type="text" id="Email" name="ghichu" placeholder="Nhập thành tiền">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-group">
                                        <label>Nhóm / Cá nhân dự trù và tạm ứng </label>
                                        <input class="form-control" type="text" id="Email" name="nhomcanhandutru" placeholder="Nhập tên nhóm / cá nhân dự trù và tạm ứng">
                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td><input id="add-btn" class="btn btn-primary" type="submit" value="Save"></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </form>
        </div>

        <!-- <a href="/add-chiphikhac " class="btn btn-success float-right ">Thêm chi phí khác</a>
        <script>
            function handleUpdateProduct(value) {
                $(location).attr('href', '/update-product/' + value);
            }
        </script> -->
</body>

</html>